<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Categoria</title>
  </head>
  <body>
    <section>
      <h2>Dar de alta Categoria</h2>
    </section>
    <section class="form_container">
      <form>
        <div class="label_input_container">
          <label>Nombre de Categoria</label
          ><input type="text" id="add-catergory-input" name="addCatergory" />
        </div>
        <div class="add_button_container">
          <button>Agregar Categoria</button>
        </div>
        <div class="popup">
          <div><button>Cancelar</button><button>Guardar</button></div>
        </div>
      </form>
    </section>
  </body>
</html>
