<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Store - Alta de Categorías</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/estilos.css"
    />
  </head>
  <body>
    <div class="header">
      <img src="../../assets/img/logo.webp" alt="Online Deli" class="logo"/>
    </div>
    <div class="container">
      <h2>Alta de Categorías</h2>
      <form id="form_categorias" action="../categorias.php" method="POST">
        <label for="nombre">Nombre de la Categoría</label><br />
        <input type="text" id="nombre" name="nombre" /><br /><br />
        <button type="reset">Cancelar</button>
        <button type="submit">Guardar</button>
      </form>
      <h3>Emanuel Pages</h3>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-
eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="../../assets/js/validaciones.js"></script>
  </body>
</html>
