<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css" />
    <title>Tienda - Home</title>
  </head>
  <body>
    <header class="header">
      <img src="../assets/img/logo.jpg" class="logo" alt="Logo de la empresa" />
    </header>
    <div class="container mt-4">
      <h2 class="text-center mb-4">Nuestros Productos</h2>
      <div id="productos-container" class="row g-4">
        <!-- Productos cargados dinámicamente -->
      </div>
      <div class="admin-buttons">
        <button class="btn btn-primary me-2">
          <a href="../backend/views/categorias.html">Agregar Categoría</a>
        </button>
        <button class="btn btn-success">
          <a href="../backend/views/productos.html">Agregar Producto</a>
        </button>
      </div>
    </div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "../index.php",
          type: "POST",
          data: { action: "listarHome" },
          success: function (response) {
            $("#productos-container").html(response);
          },
        });
      });
    </script>
  </body>
</html>
